body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0a; /* Un poco más oscuro */
    overflow: hidden;
    font-family: 'UnifrakturMaguntia', serif; /* Aplicamos la fuente gótica */
}

.container {
    position: relative;
    width: 300px;
    height: 200px;
}

.envelope {
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: #6d0a0a; /* Rojo oscuro tipo sangre/gótico */
    cursor: pointer;
    z-index: 5;
    transition: transform 1s ease-in, opacity 1s;
    box-shadow: 0 10px 30px rgba(0,0,0,0.8);
}

.flap {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 100px solid #4a0707;
    transform-origin: top;
    transition: transform 0.6s;
    z-index: 6;
}

.envelope.open .flap {
    transform: rotateX(180deg);
}

.envelope.fall {
    transform: translateY(120vh) rotate(40deg);
    opacity: 0;
}

/* Estilo de la Carta Gótica */
.letter {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 100%);
    width: 85%;
    max-width: 450px;
    max-height: 85vh;
    background: #e2d1b0; /* Color pergamino antiguo */
    padding: 35px;
    border-radius: 2px;
    box-shadow: inset 0 0 50px rgba(0,0,0,0.2), 0 10px 50px rgba(0,0,0,1);
    opacity: 0;
    transition: all 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 100;
    overflow-y: auto;
    color: #1a1a1a;
    border: 1px solid #332b1a;
}

.letter.show {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.letter h2, .letter h3 {
    text-align: center;
    color: #4a0707;
    margin-top: 0;
    letter-spacing: 2px;
}

.letter p {
    font-size: 1.2rem; /* La fuente gótica es un poco pequeña, la subimos */
    line-height: 1.4;
    text-align: justify;
}

.signature {
    text-align: right !important;
    font-size: 1.5rem !important;
    margin-top: 30px;
    color: #4a0707;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 150;
}